.dashboard-header {
  margin-bottom: 50px;
}

.dashboard-employee-container {
  display: flex;
  justify-content: space-around;
  border: 2px solid rgb(14, 255, 66);
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
  background-color: aqua;
}

.spin {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 0 0;
  padding-top: 20vh;
}
